{% extends 'base.html' %}
{% block content %}

    <h1 class="display-4">Herzlich Willkommen bei BEN HUR,</h1>
    <p>Mit den Sparten Medientechnik, Event & TV Produktion, sowie Software- und Konzeptentwicklung bieten wir Ihnen
        innovative Systemlösungen aus medientechnischem Equipment und Produktions-Knowhow.

        Sie planen ein Bauvorhaben mit integrierter Medientechnik, wollen ein individuelles Instore-Radio oder
        Instore-TV, beabsichtigen Ihre Werbeflächen zu digitalisieren und mit Bewegtbild zu bespielen? Sie wollen Ihre
        Plakate oder Besucherführung dynamisch gestalten und benötigen ein passendes Digital Signage System?

        Ob als Ein-Tages-Event oder als Installation für die nächsten Jahre – Wir können Ihnen helfen. Nehmen Sie sich
        einige Minuten Zeit und lernen Sie uns kennen …

        Oder suchen Sie unsere Digital Signage Lösung walkby sys…?</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
        magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
        pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est
        laborum.</p>

{% endblock %}