{% extends 'base.html' %}
{% block content %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <div class="container">
        <div class="jumbotron">
            <h3>aktuelle Stellenanzeigen:</h3>
            <p>Für die Ben Hur GmbH in Köln suchen wir innovativ denkende, flexible Mitarbeiter, die in dem spannenden
                Umfeld
                von Multimediatechnologie unsere Projekte mit entwickeln, installieren und betreiben.</p>
            <br>
            <p>Wir suchen</p>
            <br>
            <div class="container">
                <ul>
                    <li>– Medieningenieure / Medieninformatiker m/w/d</li>
                    <li>– Supporttechniker / Fachinformatiker Systemintegration m/w/d</li>
                    <li>– Softwareentwickler / Systemadministratoren m/w/d</li>
                    <li>– Auszubildende Fachinformatiker m/w/d</li>
                </ul>
            </div>
            <div class="container">
                <p>Die Benhur GmbH bietet:</p>
                <ul>
                    <li>einen sicheren, unbefristeten und attraktiven Arbeitsplatz</li>
                    <li>in einem dynamisch wachsenden Unternehmen</li>
                    <li>regelmäßige Fortbildungsprogramme</li>
                    <li>familienfreundliche und flexiblen Arbeitszeiten</li>
                    <li>auf Wunsch und Absprache Homeoffice</li>
                    <li>spannendes urbanes Umfeld</li>
                    <li>Jobticket, betriebliche Altersvorsorge</li>
                </ul>
                <p>Wir freuen wir uns auf Ihre Bewerbung mit Angabe des frühestmöglichen Eintrittstermins sowie Ihrer Gehaltsvorstellung.</p>
                <p></p>
                <p></p>

            </div>
        </div>
    </div>
{% endblock %}