{% extends 'base.html' %}
{% load static %}
{% block content %}
    <link rel="stylesheet" href="{% static 'css/pen.css' %}">

    <div class="centerstage">
        <div class="container">
            <caption>LIST OF TOKENS</caption>
            <span>  <div id="toggle_button" class="btn-group btn-group-toggle" data-toggle="buttons">
            <label class="btn btn-secondary active">
                <input type="radio" name="options" id="option1" autocomplete="off" checked> 4
            </label>
            <label class="btn btn-secondary">
                <input type="radio" name="options" id="option2" autocomplete="off"> 8
            </label>
            <label class="btn btn-secondary">
                <input type="radio" name="options" id="option3" autocomplete="off"> 16
            </label>
        </div></span>

            <br>
            <table id="table_tokens" class="responsive-table">
                <thead>
                <tr>
                    <th scope="col">TOKEN NAME</th>
                    <th scope="col">TOKEN MODEL</th>
                </tr>
                </thead>

                <tbody>
                {% for token in users %}
                    <tr>
                        <td scope="row">{{ token.name }}</td>
                        <td data-title="Budget" data-type="currency">{{ token.token_model }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <br>
        {% if users.has_other_pages %}
            <ul class="pagination">
                {% if users.has_previous %}
                    <li><a href="?page={{ users.previous_page_number }}">&laquo;</a></li>
                {% else %}
                    <li class="disabled"><span>&laquo;</span></li>
                {% endif %}
                {% for i in users.paginator.page_range %}
                    {% if users.number == i %}
                        <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
                    {% else %}
                        <li><a href="?page={{ i }}">{{ i }}</a></li>
                    {% endif %}
                {% endfor %}
                {% if users.has_next %}
                    <li><a href="?page={{ users.next_page_number }}">&raquo;</a></li>
                {% else %}
                    <li class="disabled"><span>&raquo;</span></li>
                {% endif %}
            </ul>
        {% endif %}

    </div>
{% endblock %}

